APP_NAME=""
APP_VERSION=""


FILE_ALLOWED_TYPES= ["text/plain" , "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000  # 512 KB

# ==================== mongoDB config ===============================================
MONGODB_URL=
MONGODB_DATABASE=


# ======================= LLM config ===============================================
GENERATION_BACKEND= 
EMBEDDING_BACKEND=

OPENAI_API_KEY= 
OPENAI_API_URL= 
COHERE_API_KEY= 

COHERE_RATE_LIMIT_PER_MINUTE=90
COHERE_MAX_RETRIES=3

GENRERATION_MODEL_ID=
EMBEDDING_MODEL_ID= 
EMBEDDING_MODEL_SIZE= 

INPUT_DEFAULT_MAX_CHARACTERS=
GENERATION_DEFAULT_MAX_TOKENS=
GENERATION_DEFAULT_TEMPERATURE=

# ======================= vector DB config ===============================================
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"


# ======================= Templates Configs ===============================================
PRIMAY_LANG="en"
DEFAULT_LANG="en"












